@font-face {
font-family: 'mjAlghifari';
src: url('webfont.eot'); /* IE9 Compat Modes */
src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('font/MJ_AlGhifari_Demo.woff') format('woff'), /* Modern Browsers */
     url('font/MJ_AlGhifari_Demo.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

::-webkit-scrollbar {
    display: none;
}

body {
padding-bottom:60%;
margin:0px;
}

#fill_screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background-color: green;
}

#navigation_bar{
    position:fixed;
    left:0;
    top:0;
    height:10%;
    width:100%;
    background-color: white;
    z-index: 2000;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color:  #daa520;
    border-bottom-width: 5px;
    overflow: hidden;
}

#footer_bar{
    position: fixed;
    bottom: auto;
    height: 5%;
    width:100%;
    top: 95%;
    background-color: #daa520;
    z-index:2000%;
    text-align: center;
    font-size: 14px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.logo_container {
    position: absolute;
    height: 30%;
    width: 100%;
    top:10%;
}

.logo_container img{
    position: absolute;
    height: 100%;
    width: 100%;
    top:15%;
    display: inline-block;
    margin: auto;
}

.mainDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  display: inline-block;
  text-align: center;
}

#home_div{
  top:0%;
  overflow: hidden;
}

#profile_div{
  position: absolute;
  top: 47%;
  width:100%;
  text-align: center;
}

.image_link{
  max-width: 35px;
  max-height: 35px;
  padding-bottom: 10 px;
  padding-right: 5px;
}

.homeTitle {
  font-family: mjAlghifari;
  font-size:200%;
  color: #daa520;
  display: inline-block;
  margin: 0 auto;
}



#home_button_container{
  position: relative;
  width: 10%;
  height: 100%;
  float:left;
  background-color: black;
}

#home_button{
  width: 100%;
  height: 100%;;
  display: inline-block;
}


#home_button img{
  position: relative;
  float: right;
  max-width: 100%;
  max-height: 100%;
}

#main_nav{
  position: absolute;
  width: 90%;
  height: 100%;
  displ ay: inline-block;
  color: #daa520;
  background-color: black;
  float: right;
  left:10%;
}

#contact_container{
  position:absolute;
  height: 60%;
  top:20%;
  width: 20%;
  left: 40%;
  text-align: center;
}

.inputForm{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.inputText{
  width: 100%;
}

label{
  display: block;
  margin-bottom: 10px;
}

.sendButton{
  position: absolute;
  width: 80%;
  left: 10%;
  display: block;
  background-color: black;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #daa520;
  background-color: black
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 50px;
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#watermark
{
 position:fixed;
 opacity:0.5;
 z-index:99;
 color:white;
 width: 100%;
 height: 100%;
}

#watermark > img{
  width: 2000px;
}
