  @font-face {
font-family: 'mjAlghifari';
src: url('../font/webfont.eot'); /* IE9 Compat Modes */
src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('../font/MJ_AlGhifari_Demo.woff') format('woff'), /* Modern Browsers */
     url('../font/MJ_AlGhifari_Demo.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('../font/webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

::-webkit-scrollbar {
    display: none;
}

body {
margin:0px;
}

#navigation_bar{
    position:fixed;
    left:0;
    top:0;
    height:10%;
    width:100%;
    background-color: white;
    z-index: 2000;
    border-bottom-style: solid;
    border-bottom-color:  #daa520;
    border-bottom-width: 5px;
}

.image_div{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
}

#bugs_div{
  top: 0%;
}

.itemWindow img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button: hover {background-color: #f1f1f1}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.preview {
  position:absolute;
  top:11.5%;
  width: 50%;
  height: 60%;
  left: 25%;
}

.previewTitle{
  top:10%;
  text-align: center;
  font-size: 40px;
  font-family: mjAlghifari;
}

.preview img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.thumbnails {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 80%;
  overflow-x: auto;
  white-space: nowrap;
}

.hidescrollbar{
  position: absolute;
  width: 100%;
  height: 20%;
  top:80%;
  overflow-x:hidden;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.thumbnails img {
  height : 95%;
  padding: 1px;
  display: inline-block;
}
.preview img:hover + .overlay{
    display:block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    z-index: 3000;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
    max-width: 100%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    z-index: 3001;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#home_button_container{
  position: relative;
  width: 10%;
  height: 100%;
  float:left;
  background-color: black;
}

#home_button{
  width: 100%;
  height: 100%;;
  display: inline-block;
}

#home_button img{
  position: relative;
  float: right;
  max-width: 100%;
  max-height: 100%;
}

#main_nav{
  width: 90%;
  height: 100%;
  display: inline-block;
  color: #daa520;
  background-color: black;
  overflow: hidden;
  text-align: center;
}

#top_nav {
  width: 100%;
  height: 50%;
  margin: 0 auto;
}

#top_nav_caption{
  height: inherit;
  font-family: mjAlghifari;
}

#bottom_nav{
  width: 100%;
  height: 50%;
}

#button_wrapper{
    margin: 0 auto; /* to make the div center align to the browser
    padding: 20px;
    max-width: inherit;
    width: 50%; /* set it to anything */
    text-align: center
}

#button_wrapper ul li {
  color: #daa520;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-decoration: none;
}

#button_wrapper ul li a{
  text-decoration: none;
  color:#daa520;
}

#button_wrapper ul {
  color: #daa520;
  max-height: inherit;
  -webkit-transition: .5s;
  margin: 0 auto;
  transition: .5s;
  background-color: black;
  font-family: mjAlghifari;
}

#button_wrapper ul li {
  padding-left: 13%;
  padding-right: 13%;
  display: inline;
  vertical-align: middle;
  -webkit-transition: .5s;
  transition: .5s;
  color: #daa520;
  font-family: mjAlghifari;
  vertical-align: middle
  display: inline-block;
  margin: 0 20px 0 0;
}

#wrapper ul li:last-child {
    color: #daa520;
    display: inline-block;
    margin: 0;
}

#button_wrapper a{

}

#mainMenuItem{
  position: absolute;
  left: 50%;
  display: table-row;
  vertical-align: middle;
  text-align: center;
}

#leftMenuItem{
  
}

#centerMenuItem{
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

#rightSubmenuItem{
  position: absolute;
  left: 60%;
  text-align: center;
  padding-top: 10px;
}

#leftSubmenuItem{
  position: absolute;
  left: 40%;
  text-align: center;
  padding-top: 10px;
  text-decoration:underline;
}
