@font-face {
font-family: 'mjAlghifari';
src: url('webfont.eot'); /* IE9 Compat Modes */
src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('font/MJ_AlGhifari_Demo.woff') format('woff'), /* Modern Browsers */
     url('font/MJ_AlGhifari_Demo.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

::-webkit-scrollbar {
    display: none;
}

body {
padding-bottom:60%;
margin:0px;
}

#fill_screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background-color: red;
}

#navigation_bar{
    position:fixed;
    left:0;
    top:0;
    height:10%;
    width:100%;
    background-color: white;
    z-index: 2000;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color:  #daa520;
    border-bottom-width: 5px;
    overflow: hidden;
}

#footer_bar{
    position: fixed;
    bottom: auto;
    height: 5%;
    width:100%;
    top: 95%;
    background-color: #daa520;
    z-index:2000%;
    text-align: center;
    font-size: 14px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.logo_container {
    position: absolute;
    height: 30%;
    width: 100%;
    top:10%;
}

.logo_container img{
    position: absolute;
    height: 100%;
    width: 100%;
    top:15%;
    display: inline-block;
    margin: auto;
}

.mainDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  display: inline-block;
  text-align: center;
}


#home_div{
  top:0%;
}

#profile_div{
  position: absolute;
  top: 47%;
  width:100%;
  text-align: center;
}

#reference_div{
  position: absolute;
  width: 100%;
  top:75%;
  text-align: center;
}

#weblinks_div{
  position: absolute;
  width: 100%;
  top:105%;
  text-align: center;
}

#contact_div{
  top:200%;
}

.image_link{
  max-width: 35px;
  max-height: 35px;
  padding-bottom: 10 px;
  padding-right: 5px;
}

.homeTitle {
  font-family: mjAlghifari;
  font-size:200%;
  color: #daa520;
  display: inline-block;
  margin: 0 auto;
}

.homeText{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size:100%;
  color:black;
}

.itemWindow img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button: hover {background-color: #f1f1f1}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
}

.preview {
  position:absolute;
  top:25%;
  width: 50%;
  height: 60%;
  left: 25%;
}

.thumbnails {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 80%;
  overflow-x: auto;
  white-space: nowrap;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.thumbnails img {
  height : 95%;
  padding: 1px;
  display: inline-block;
}
.preview img:hover + .overlay{
    display:block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    z-index: 3000;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    z-index: 3001;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#home_button{
  position: relative;
  width: 10%;
  height: 100%;
  float:left;
  background-color: black;
}

#home_button img{
  position: relative;
  width: 10%;
  height: inherit;
}

#main_nav{
  position: relative;
  width: 90%;
  height: 100%;
  display: inline-block;
  color: #daa520;
  background-color: black;
}

#main_nav ul {
  background: white;
  color: #daa520;
  float: left;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  width:100%;
  height: 100%;
  background-color: black;
}

#main_nav li {
  float: left;
  position: relative;
  width:33%;
  margin-left: auto ;
  margin-right: auto ;
  list-style: none;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
  color: #daa520;
  font-family: mjAlghifari;
}


#main_nav > ul > li > a, h1 {
/*  text-transform: uppercase;*/
    font-size: 130%;

}


#main_nav a {
  display: block;
  text-decoration: none;
  color: #daa520;

}

#main_nav ul ul {
  position: relative;;
  top: 125%;
  visibility: hidden;
  opacity: 0;
  left:7%;
}

#main_nav ul ul ul {
  left: 100%;
  top: 0;
}


#main_nav li:hover, #main_nav li:hover li {
  background: black;

}

#main_nav li li:hover, #main_nav li li:hover li {
  background: black;
}

#main_nav li li li:hover {
  background: black;
}

#main_nav li:hover > ul {
  visibility: visible;
  opacity: 1;
}
